# m h  dom mon dow   command
* * * * * /usr/bin/rtl_433 -C si -F json -T 90 -E quit | /usr/bin/php -f /home/jkz/weatherstation/jobs/read.php > /var/log/ws_info.log >> /var/log/ws_error.log
0 3 * * * /usr/bin/php -f /home/jkz/weatherstation/jobs/retention.php > /var/log/ws_ret_info.log >> /var/log/ws_ret_error.log
*/5 * * * * /usr/bin/php -f /home/jkz/weatherstation/jobs/watchdog.php > /var/log/ws_wd_info.log >> /var/log/ws_wd_error.log
*/5 * * * * /usr/bin/php -f /home/jkz/weatherstation/jobs/pull.php > /var/log/ws_git_info.log >> /var/log/ws_git_error.log
